* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: Montserrat, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  overflow-x: hidden;

}

.title {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 1.5rem 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.493);
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    justify-items: center;
    padding: 3rem;
    gap: 2rem;
    /* min-width: 32rem; */
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 12rem;
    height: 20rem;
    text-align: center;
    background-color: rgba(0 0 0 / 15%);
    font-size: 1.2rem;
}

.card-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  text-align: center;
}

.card:hover .card-overlay {
  opacity: 1;
}

.open-modal{
    font-size: 4rem;
    border: none;
}

.open-modal:hover,
.open-modal:focus{
    background-color: rgba(0 0 0 / 30%);
}

.book-cover {
    width: 100%;
    height:100%;
}

.book-title {
    font: 1.8rem bold;
}

.book button {
    margin-top: 10px;
    padding: 5px 10px;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    margin: auto;
    padding: auto;
    padding: 2rem;
    width: 30ch;
    font-size: 1.25rem;
    border-radius: 5%;
    border: none;
}

.modal h2 {
    text-align: center;
}

.modal button{
    padding: 0.5em 2em;
    font-size: 1rem;
    background-color: #4caf50;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 5px;
}

form {
    display: grid;
    gap: 1em;
}

label {
    display: grid;
}

input {
    font-size: 1rem;
    padding: 5px 5px;
}

.modal-bottom {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
  margin-right: 5rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: .2s;
  border-radius: 28px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px; width: 15px;
  left: 4px; bottom: 4px;
  background-color: white;
  transition: .2s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider:before {
  transform: translateX(26px);
}